.Splashscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(255,99,71);
  background: linear-gradient(180deg, rgba(255,99,71,1) 33%, rgba(217,123,107,1) 100%);
  color: white;
}

.Splashscreen__header {
  margin: 10px 0 0 !important;
}

.Splashscreen__header--h3 {
  margin: 0 0 20px !important;
}

.Splashscreen__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Splashscreen__form--input,
.Splashscreen__form__photo
{
  padding: 10px 10px 10px 6px;
  border: 0;
  border-radius: 6px;
  color: #333;
  font-weight: bold;
  outline: none;
}

