.AddFriend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.AddFriend__name {
  padding: 10px
}

.AddFriend__photo {
  padding: 10px
}

.AddFriend__flexDiv { 
  display: flex;
  flex-direction: column;
  gap: 10px;
  order: 1
}
.AddFriend__flexDiv button::before { 
  content: "";
  background: url('../../../public/user-astronaut-solid.png');
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background-size: 80%;
  background-repeat: no-repeat;
  transition: all .35s ease;
}

.AddFriend__flexDiv button:hover:before
{
  transform: scale(1.1)
}

.AddFriend__flexDiv button:active:before
{
  transform: scale(1)
}