@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* @import '~rsuite/styles/index.less';
@import 'custom-theme.less';  */
@import '~rsuite/dist/rsuite.min.css';

.App {
  color: rgb(24, 24, 24);
  display: flex;
  font-size: 0.9rem;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App__friends {
  /* color: lightgrey; */
  padding: 20px;
}

.App_messages {
  padding: 20px;
  width: 100%;
}


.App__friends {
  order: 1;
  width: 100%;
  margin-top: 80px;
}
.App_messages {
  order: 2;
  margin-top: 0
}

@media (min-width: 600px) {
  .App {
    flex-direction: row;
    align-items: flex-start;
  }
  .App_messages {
    width: 400px;
    margin-top: 80px
  }
  .App__friends {
    width: auto;
    order: 1
  }
  .App_messages {
    order: 2
  }

}

.flexDiv { 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterSearch { 
  padding: 10px;
  margin-bottom: 20px;
}

