body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html, body {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  font-size: 14px;
  color: #333;
}
a {
  text-decoration: none;
  color: #A10F15;
  transition: all 0.3s ease;
}
a:hover {
  color: #E03535;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Kdam Thmor Pro', sans-serif;
}
input { font-family:'Open Sans', sans-serif;}

.tc-red {
  color: #E03535;
}
.mt-2 {
  margin-top: 30px;
}
.mt-3 {
  margin-top: 100px !important;
}
.mt-4 {
  margin-top: 7rem !important;
}
.my-4 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.mt-5 {
  margin-top: 120px;
}
.d-block {
  display: block;
}
.list-unstyled {
  list-style-type: none;
}
@media (min-width: 992px) {
  
  .d-lg-flex {
    display: flex;
  }
}
.text-center {
  text-align: center;
}
.bg-white {
  background: white;
}
.padded {
  padding: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
.pad-100 {
  padding: 100px;
}
@media (max-width: 991.98px) {
  .pad-100 {
    padding: 100px 15px;
  }
}
.container { 
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

